@import url(/styles/Navbar.css);
@import url(/styles/heroSection.css);
@import url(/styles/productsSection.css);
@import url(/styles/gallerySection.css);
@import url(/styles/shopSection.css);
@import url(/styles/aboutSection.css);
@import url(/styles/inspireSection.css);
@import url(/styles/viewSection.css);
@import url(/styles/articlesSection.css);
@import url(/styles//contactSection.css);
@import url(/styles/footer.css);

:root {
  --primary-color: #f0d29f;
  --secondary-color: #121211;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
